# Python Programming with SQL

## 1. Connection to SQLite3

In [1]:
import sqlite3
conn = sqlite3.connect("sample11.db") // database filename does not have to exitst. It will be created.

# 2. Cursor and Execute SQL Statement

In [3]:
sql_cmd_1 = """
create table dept (
        deptno int not null,
        deptname char(10),
        floor int,
        primary key (deptno)
        );
"""
cursor = conn.cursor()
cursor.execute(sql_cmd_1)

In [14]:
dept_data = [ (1, "sales", 8),
              (2, "planning", 10),
              (3, "development", 9),
              (4, "admin", 7)]

In [29]:
for tuple in dept_data:
    format_string = """ 
    INSERT INTO dept VALUES ({dno}, "{dname}", {floor});"""
    sql_icmd = format_string.format(dno=tuple[0], dname=tuple[1].encode(), floor=tuple[2])
    print sql_icmd
    cursor.execute(sql_icmd)

    INSERT INTO dept VALUES (1, "sales", 8);

    INSERT INTO dept VALUES (2, "planning", 10);

    INSERT INTO dept VALUES (3, "development", 9);

    INSERT INTO dept VALUES (4, "admin", 7);

# Commit and Close

In [30]:
conn.commit()
conn.close()